html, body, header, img, ul, li, a, p, h1, pre {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;

  font: inherit;
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: 'Arvo';
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

#templates {
  visibility: hidden;
  display: none;
}

/* Header */

header {
  margin-top: 5px;
}

span.logo {
  margin-left: 5px;
  float: left;
  height: 120px;
  display: block;
  overflow: hidden;
}

img.avatar {
  float: left;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #E8EDE1;
}

span.logo ul {
  font-weight: bold;
  font-size: 36px;
  float: right;
  padding-top: 5px;
  padding-left: 10px;
}

li.surtitle {
  color: #95A5A6;
}

ul.nav {
  float: right;
  margin-right: 5px;
  font-size: 24px;
  padding-top: 30px;
  padding-right: 20px;
}

ul.nav li {
  float: left;
  margin-left: 15px;
  display: block;
}

li a.active {
  border: 2px solid #95A5A6;
  border-radius: 50%;
  padding: 30px 10px;
}

/* Content */

span.content {
  display: block;
  margin-left: 25px;
}

span.root {
  text-align: center;
}

span.root h1 {
  font-size: 56px;
  font-weight: bold;
  padding: 140px 0 50px 0;
}

span.root pre {
  font-size: 18px;
}
